# Laravel standard .gitignore

/vendor
/node_modules
/public/storage
/storage/*.key
/.idea
/.vscode
/.env
/.env.backup
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.phpunit.result.cache
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/hot
/public/mix-manifest.json
/public/css/app.css
/public/js/app.js
/public/js/bootstrap.js
/public/css/app.css.map
/public/js/app.js.map
/public/js/bootstrap.js.map
/node_modules
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
Thumbs.db
